<%- include("./partials/head") %>

    <body>
        <%- include("./partials/nav") %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Developed/maintained by @Famil-20</p>
            </div>

    </body>
    <%- include("./partials/footer") %>